.amount-display {
  font-family: 'DIN Alternate', 'DIN', sans-serif;
  font-weight: bold;
}

.amount-display-small {
  font-size: 14px;
}

.amount-display-medium {
  font-size: 18px;
}

.amount-display-large {
  font-size: 24px;
}
